{margin: 0;
  padding: 0;
  font-family 'Poppins' sans-serif;
} 

.cabeçalho{
  background-color:rgb(77, 1, 80);
  color:rgb(14, 14, 14);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}
.cabeçalho-cabeçalho{

   width: 30%;

}
